<html>
<head>
    <title></title>
</head>
<body ng-app="demo">
    <div ng-controller="DemoCtrl">

      <select
        ng-model="selectedAuthor"
        ng-options="author.id as author.name for author in authors"
        ></select>

      <select
        ng-model="selectedBook"
        ng-options="book.isbn as book.title for book in books"
        ng-select-link="getBooksByAuthor(selectedAuthor)"
        ></select>

    Selected book ISBN is: {{selectedBook}}

    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../ng-select-link.js"></script>
    <script src="demo.js"></script>
</body>
</html>